* {
  box-sizing: border-box;
}

body {
  direction: rtl;
  text-align: right;
  font-family: "cairo";
  background: #fafafa;
}

.header {
  background: #FFF;
  color: #291a87;
  height: 75px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  box-shadow: 0 0 40px 0 rgba(94, 92, 154, 0.06);
  padding: 0 0 0 0;
}
@media (max-width: 575.98px) {
  .header {
    height: 60px;
    background: #FFF;
    padding: 0 0 0 0;
  }
}
.header .header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .parent {
  display: flex;
  align-items: center;
}
@media (max-width: 575.98px) {
  .header .navbar-brand-parent {
    display: none;
  }
}
.header .navbar-brand-parent .navbar-brand {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0 15px;
}
.header .navbar-brand-parent .navbar-brand img {
  height: 22px;
}
@media (max-width: 575.98px) {
  .header .navbar-brand-parent .navbar-brand img {
    margin: 0;
    height: 15px;
  }
}
.header .navbar-brand-parent .navbar-brand a {
  text-decoration: none;
  display: block;
}
.header .navbar-brand-parent .navbar-brand h3 {
  font-size: 1.3rem;
  color: #FFF;
  font-weight: 700;
  margin-top: 8px;
}
@media (max-width: 575.98px) {
  .header .navbar-brand-parent .navbar-brand h3 {
    font-size: 1rem;
    color: #FFF;
  }
}
.header .search-bar {
  height: 75px;
  margin: 0 10px;
}
@media (max-width: 575.98px) {
  .header .search-bar {
    width: 100%;
    height: 60px;
  }
}
.header .search-bar form {
  width: 100%;
}
.header .search-bar form .form-group {
  height: 45px;
  margin: 0;
  position: relative;
}
@media (max-width: 575.98px) {
  .header .search-bar form .form-group {
    height: 40px;
  }
}
.header .search-bar form .form-group input {
  direction: rtl;
  text-align: right;
  height: 100%;
  border: none;
  background-color: transparent;
  color: #1b1d21;
  width: 100%;
  border-radius: 12px;
  font-size: 0.9rem;
  font-weight: 700;
  padding-right: 40px;
}
.header .search-bar form .form-group input::-moz-placeholder {
  color: #1b1d21;
  font-size: 0.9rem;
  font-weight: 600;
}
.header .search-bar form .form-group input::placeholder {
  color: #1b1d21;
  font-size: 0.9rem;
  font-weight: 600;
}
.header .search-bar form .form-group input:focus {
  outline: none;
  box-shadow: none;
}
.header .search-bar form .form-group span svg {
  height: 22px;
  width: 22px;
  position: absolute;
  top: 50%;
  right: 12px;
  line-height: 50px;
  transform: translate(0px, -50%) rotateY(180deg);
  fill: #1b1d21;
}
.header .search-bar form .form-group span svg path {
  fill: #1b1d21;
}
.header .search-bar form button {
  visibility: hidden;
  display: none;
}
.header .action-list {
  position: relative;
  padding: 0 5px;
}
@media (max-width: 575.98px) {
  .header .action-list {
    padding: 0 5px;
  }
}
.header .action-list ul {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  margin: 0;
}
@media (max-width: 575.98px) {
  .header .action-list ul {
    height: 60px;
  }
}
.header .action-list ul li {
  background: #13063e;
  border-radius: 50%;
  height: 41px;
  width: 41px;
  line-height: 38px;
  margin-right: 12px;
}
@media (max-width: 575.98px) {
  .header .action-list ul li {
    height: 35px;
    width: 35px;
    line-height: 32px;
    margin-right: 7px;
  }
}
.header .action-list ul li .a {
  color: #1b1d21;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.header .action-list ul li .a svg {
  fill: #FFF;
  height: 18px;
  width: 18px;
}
.header .action-list ul li .a svg g [fill] {
  fill: #FFF;
}
.header .action-list ul li .a svg:hover {
  fill: #FFF;
}
.header .action-list ul li .a .noti svg {
  position: relative;
  fill: var(--navbar-color) !important;
}
.header .action-list ul li .a .noti svg:hover {
  stroke: none;
}
.header .action-list ul li .a:hover {
  color: var(--navbar-color);
}
.header .noti-open {
  transform: translate(0, 0);
  visibility: visible;
  opacity: 1;
}
.header .user-action {
  direction: ltr;
  text-align: left;
  height: 60px;
  width: 135px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  cursor: pointer;
  text-decoration: none;
}
@media (max-width: 767.98px) {
  .header .user-action {
    width: auto;
  }
}
.header .user-action .user-icon figure {
  height: 35px;
  width: 35px;
  border-radius: 6px;
  margin: 0;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 767.98px) {
  .header .user-action .user-icon figure {
    height: 30px;
    width: 30px;
  }
}
.header .user-action .user-action-info {
  margin-left: 12px;
}
@media (max-width: 767.98px) {
  .header .user-action .user-action-info {
    display: none;
  }
}
.header .user-action .user-action-info h3 {
  font-size: 0.75rem;
  font-weight: 700;
  margin-bottom: 0;
  display: block;
  margin-top: 3px;
  color: #1b1d21;
}
.header .user-action .user-action-info span {
  font-weight: 700;
  font-size: 0.6rem;
  display: block;
}
.header .user-action .user-action-info .active-account {
  color: #291a87;
}
.header .nav-links {
  width: 100%;
  height: 100%;
  padding: 0 15px;
}
.header .nav-links ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}
.header .nav-links ul .ul-head {
  text-align: center;
  color: #adafca;
  font-size: 0.75rem;
  font-weight: 700;
}
.header .nav-links ul li {
  text-decoration: none;
  color: #1b1d21;
  width: 45px;
  display: block;
  height: 45px;
  border-radius: 12px;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 46px;
  position: relative;
  transition: all 0.3s ease-in-out;
  margin: 7px 20px;
}
@media (max-width: 767.98px) {
  .header .nav-links ul li {
    margin: 7px 5px;
  }
}
@media (max-width: 575.98px) {
  .header .nav-links ul li {
    margin: 7px 0;
  }
}
.header .nav-links ul li:hover {
  background-color: var(--navbar-color);
  color: #1b1d21;
  box-shadow: 3px 5px 20px 0 rgba(94, 92, 154, 0.12);
}
.header .nav-links ul li:hover a svg {
  fill: #13063e;
}
.header .nav-links ul li:hover .link-info {
  visibility: visible;
  transform: translate(50%, -115%);
  opacity: 1;
}
.header .nav-links ul li a {
  height: 50px;
  width: 50px;
  position: relative;
  transition: all 0.3s ease-in-out;
  display: block;
}
.header .nav-links ul li a svg {
  height: 22px;
  width: 22px;
  fill: #13063e;
  margin-right: -5px;
  margin-top: -3px;
}
@media (max-width: 575.98px) {
  .header .nav-links ul li a svg {
    height: 18px;
    width: 18px;
  }
}
.header .nav-links ul li a .link-info {
  white-space: nowrap;
  position: absolute;
  top: 153%;
  right: 50%;
  line-height: 25px;
  color: #FFF;
  border-radius: 50px;
  background: #1b1d21;
  margin: 0;
  transform: translate(50%, -50%);
  transition: all 0.3s ease-in-out 0s;
  opacity: 0;
  visibility: hidden;
}
.header .nav-links ul li a .link-info span {
  padding: 0 13px;
  color: #FFF;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 25px;
}
.header .nav-links ul .li-active {
  background-color: #FFF;
  color: var(--p-color);
  box-shadow: 3px 5px 20px 0 rgba(94, 92, 154, 0.12);
}
.header .nav-links ul .li-active a svg {
  fill: #291a87;
}
.header .nav-links ul .li-active a .svg-icon path {
  fill: var(--navbar-color);
  stroke: var(--navbar-color);
}

.content {
  padding-top: 75px;
}

.newsfeed-content .link-card {
  text-align: right;
  background: #FFF;
  padding: 15px 35px;
  border-radius: 12px;
  border: 1px dashed #ebebeb;
  text-decoration: none;
  box-shadow: 0 0 40px 0 rgba(94, 92, 154, 0.0005);
  color: #3e3f5e;
  margin-bottom: 15px;
  min-height: 150px;
  display: flex;
  align-items: center;
}
.newsfeed-content .link-card lord-icon {
  height: 75px;
  width: 75px;
}
.newsfeed-content .link-card h3 {
  font-weight: 700;
  font-size: 1.2rem;
  margin: 0;
}
.newsfeed-content .link-card span {
  color: #436cff;
  font-size: 0.8rem;
  font-weight: 700;
}

.teacher-review-card {
  color: #3e3f5e;
  background: #FFF;
  padding: 20px 15px 20px 20px;
  border-radius: 12px;
  box-shadow: 0 0 40px 0 rgba(94, 92, 154, 0.06);
  margin-bottom: 15px;
  display: block;
  text-decoration: none !important;
}
.teacher-review-card .file-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5px;
}
.teacher-review-card .file-head .student-info {
  display: flex;
  align-items: center;
}
.teacher-review-card .file-head .student-info img {
  max-width: 100%;
  height: 60px;
  border-radius: 10px;
}
.teacher-review-card .file-head .student-info .student-card-des {
  margin-right: 15px;
  text-align: right;
}
.teacher-review-card .file-head .student-info .student-card-des h3 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0 0 -2px 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  color: #2c2f32;
}
.teacher-review-card .file-head .student-info .student-card-des .stage {
  font-size: 0.9rem;
  font-weight: 700;
  color: #adafca;
}
.teacher-review-card .file-head .svg-link svg {
  height: 28px;
  width: 28px;
  fill: #6e56e5;
}
.teacher-review-card .review-content {
  border-bottom: 1px solid #f1f1f1;
  padding-bottom: 3px;
}
.teacher-review-card .review-content p {
  font-size: 0.9rem;
  color: #636169;
  margin: 12px 0;
  font-weight: 600;
}
.teacher-review-card .review-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
}
.teacher-review-card .review-action span {
  font-size: 0.8rem;
  color: #636169;
  font-weight: 700;
}
.teacher-review-card .review-action a {
  text-decoration: none;
  width: 110px;
  color: #FFF;
  background-color: #6e56e5;
  display: inline-block;
  height: 35px;
  border-radius: 6px;
  font-size: 0.65rem;
  font-weight: 700;
  text-align: center;
  line-height: 33px;
  cursor: pointer;
  outline: none;
  box-shadow: unset;
  border: unset;
}

.student-card-v2 {
  color: #3e3f5e;
  background: #FFF;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 0 40px 0 rgba(94, 92, 154, 0.06);
  margin-bottom: 15px;
  display: block;
  text-decoration: none !important;
}
.student-card-v2 .file-head .student-info img {
  max-width: 100%;
  width: 100%;
  height: 240px;
  border-radius: 10px;
  margin-bottom: 15px;
}
.student-card-v2 .file-head .student-info .student-card-des {
  margin-right: 5px;
  text-align: right;
  margin-bottom: 15px;
}
.student-card-v2 .file-head .student-info .student-card-des h3 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0 0 -2px 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  color: #2c2f32;
}
.student-card-v2 .file-head .student-info .student-card-des .stage {
  font-size: 0.9rem;
  font-weight: 700;
  color: #adafca;
}
.student-card-v2 .file-head .btn-link button {
  text-decoration: none;
  width: 95%;
  margin: auto;
  color: #FFF;
  background-color: #6e56e5;
  display: inline-block;
  height: 45px;
  border-radius: 6px;
  font-size: 0.75rem;
  font-weight: 700;
  text-align: center;
  line-height: 43px;
  cursor: pointer;
  outline: none;
  box-shadow: unset;
  border: unset;
}

.stat-detail-exams .stat-detail-exam-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 25px;
  background: #FFF;
  border-radius: 12px;
  margin-top: 8px;
}
.stat-detail-exams .stat-detail-exam-card .stat-title h5 {
  font-size: 0.8rem;
  font-weight: 700;
  margin: 0 0 2px 0;
  text-align: right;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.stat-detail-exams .stat-detail-exam-card .stat-title .stat-title-info {
  text-align: right;
  font-weight: 700;
  font-size: 0.75rem;
  color: #adafca;
}
.stat-detail-exams .stat-detail-exam-card .stat-title .stat-title-info span {
  margin-left: 5px;
  margin-bottom: 0;
}
.stat-detail-exams .stat-detail-exam-card .score-progress {
  display: flex;
  align-items: center;
}
.stat-detail-exams .stat-detail-exam-card .score-progress .course-persentage {
  font-weight: 700;
  font-size: 0.8rem;
  margin: 0 0 0 10px;
  display: flex;
  align-items: center;
  direction: ltr;
}
.stat-detail-exams .stat-detail-exam-card .score-progress .progress {
  background: #eeeffd;
  height: 4px;
  width: 75px;
  position: relative;
  border-radius: 20px;
}
.stat-detail-exams .stat-detail-exam-card .score-progress .progress .inner-progress {
  background: #7868e6;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.stat-detail-exams .stat-detail-exam-card .score-progress .course-score p {
  margin: 0 10px 0 0;
  font-size: 0.8rem;
  font-weight: 700;
}

.student-large-card {
  color: #3e3f5e;
  background: #FFF;
  padding: 15px 15px;
  border-radius: 12px;
  box-shadow: 0 0 40px 0 rgba(94, 92, 154, 0.06);
  margin-bottom: 15px;
  display: block;
  text-decoration: none !important;
}
.student-large-card .file-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.student-large-card .file-head .student-info {
  display: flex;
  align-items: center;
}
.student-large-card .file-head .student-info img {
  max-width: 100%;
  height: 60px;
  border-radius: 10px;
}
.student-large-card .file-head .student-info .student-card-des {
  margin-right: 15px;
  text-align: right;
}
.student-large-card .file-head .student-info .student-card-des h3 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0 0 -2px 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  color: #2c2f32;
}
.student-large-card .file-head .student-info .student-card-des .stage {
  font-size: 0.9rem;
  font-weight: 700;
  color: #adafca;
}
.student-large-card .file-head .svg-link {
  margin-left: 15px;
  background: #ee4266 !important;
  padding: 8px;
  border-radius: 6px;
  line-height: 19px;
}
.student-large-card .file-head .svg-link svg {
  height: 20px;
  width: 20px;
  fill: #FFF;
}
.student-large-card .review-content {
  border-bottom: 1px solid #f1f1f1;
  padding-bottom: 3px;
}
.student-large-card .review-content p {
  font-size: 0.9rem;
  color: #636169;
  margin: 12px 0;
  font-weight: 600;
}
.student-large-card .review-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
}
.student-large-card .review-action span {
  font-size: 0.8rem;
  color: #636169;
  font-weight: 700;
}
.student-large-card .review-action a {
  text-decoration: none;
  width: 110px;
  color: #FFF;
  background-color: #6e56e5;
  display: inline-block;
  height: 35px;
  border-radius: 6px;
  font-size: 0.65rem;
  font-weight: 700;
  text-align: center;
  line-height: 33px;
  cursor: pointer;
  outline: none;
  box-shadow: unset;
  border: unset;
}

.add-student {
  color: #3e3f5e;
  background: #FFF;
  padding: 15px 15px;
  border-radius: 12px;
  box-shadow: 0 0 40px 0 rgba(94, 92, 154, 0.06);
  margin-bottom: 15px;
  display: block;
  text-decoration: none !important;
}
.add-student .add-student-header {
  padding: 5px 0 15px 0;
}
.add-student .add-student-header h3 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0 0 -2px 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  color: #2c2f32;
}

.form-group {
  width: 100%;
  position: relative;
  margin: 8px 0;
}
.form-group label {
  color: #adafca;
  font-size: 0.8rem;
  font-weight: 600;
  position: absolute;
  top: 16px;
  right: 20px;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  display: block;
  margin: 0;
  line-height: 1em;
}
.form-group .form-control {
  height: 45px;
  padding: 0 18px;
  background-color: #FFF;
  border: 1px solid #DDD;
  color: #000;
  transition: border-color 0.2s ease-in-out;
  width: 100%;
  border-radius: 12px;
  font-size: 0.85rem;
  font-weight: 700;
}
.form-group .form-control:focus {
  border-color: #6e56e5;
  box-shadow: none;
  outline: none;
}
.form-group .form-control::-moz-placeholder {
  color: #adafca;
  font-size: 0.8rem;
  font-weight: 600;
  pointer-events: none;
  display: block;
  margin: 0;
  line-height: 1em;
}
.form-group .form-control::placeholder {
  color: #adafca;
  font-size: 0.8rem;
  font-weight: 600;
  pointer-events: none;
  display: block;
  margin: 0;
  line-height: 1em;
}
.form-group select {
  cursor: pointer;
}

.create-account-btn {
  text-decoration: none;
  width: 150px;
  margin: auto;
  color: #FFF;
  background-color: #6e56e5;
  display: inline-block;
  height: 45px;
  border-radius: 6px;
  font-size: 0.75rem;
  font-weight: 700;
  text-align: center;
  line-height: 45px;
  cursor: pointer;
  margin-top: 15px;
  border: unset;
}
.create-account-btn svg {
  height: 17px;
  margin-left: 4px;
}
.create-account-btn svg path {
  fill: #FFF;
}
.create-account-btn:hover {
  background-color: #6e56e5;
}

.day-box-yellow1 {
  background: #ffc800 !important;
}

.day-box-green1 {
  background: #7868e6 !important;
}

.day-box-red1 {
  background: #ee4266 !important;
}

.register {
  position: relative;
  background-image: url(./assets/images/register.jpg);
  background-position: center center;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 1;
  padding: 0;
}
.register .register-overlay {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0; /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #514A9D, #24C6DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  opacity: 0.5;
}
.register .row {
  width: 100%;
  margin: 0;
}
.register .row .col-md-12,
.register .row .col-md-6 {
  padding: 0 8px;
}
.register .page-logo {
  padding: 50px 0 0 0;
}
.register .page-logo img {
  width: 150px;
  text-align: center;
  margin: auto;
  display: flex;
  align-items: center;
}
.register .form-container {
  height: 100%;
  width: 100%;
  padding: 50px 0 100px 0;
}
.register .form-container .form-toggle {
  background: #FFF;
  width: 675px;
  border-radius: 0;
  box-shadow: 0 0 60px 0 rgba(94, 92, 154, 0.12);
  margin: auto;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
@media (max-width: 767.98px) {
  .register .form-container .form-toggle {
    width: 100%;
  }
}
.register .form-container .form-toggle .toggle-tab {
  text-align: center;
  padding: 20px 15px 15px 15px;
}
.register .form-container .form-toggle .toggle-tab a {
  text-align: center;
  text-decoration: none;
  color: #000;
  font-weight: 700;
  font-size: 0.9rem;
}
@media (max-width: 767.98px) {
  .register .form-container .form-toggle .toggle-tab a {
    font-size: 0.8rem;
  }
}
.register .form-container .form-toggle .toggle-tab-active {
  border-bottom: 2px solid #7868e6;
}
.register .form-container .form-card {
  background: #FFF;
  width: 675px;
  padding: 35px 45px 30px 45px;
  border-radius: 0;
  box-shadow: 0 0 60px 0 rgba(94, 92, 154, 0.12);
  margin: auto;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}
@media (max-width: 767.98px) {
  .register .form-container .form-card {
    width: 100%;
    padding: 40px 15px;
  }
}
.register .form-container .form-card .form-box-title {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 700;
  color: #3e3f5e;
}
.register .form-container .form-card .form {
  margin-top: 25px;
  width: 100%;
  position: relative;
}
.register .form-container .form-card .form .form-group {
  width: 100%;
  position: relative;
  margin: 5px 0;
}
.register .form-container .form-card .form .form-group label {
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  display: block;
  margin: 0;
  line-height: 1em;
  text-align: right;
}
.register .form-container .form-card .form .form-group .form-control {
  height: 40px;
  transition: border-color 0.2s ease-in-out;
  padding: 8px 18px 8px 18px;
  width: 100%;
  border-radius: 6px;
  margin-bottom: 20px !important;
}
.register .form-container .form-card .form .form-group .form-control:focus {
  box-shadow: none;
  outline: none;
}
.register .form-container .form-card .form .form-group select {
  cursor: pointer;
}
.register .form-container .form-card .form .create-account-btn {
  text-decoration: none;
  width: 100%;
  margin: auto;
  color: #FFF;
  display: inline-block;
  height: 48px;
  border-radius: 10px;
  font-size: 0.875rem;
  font-weight: 700;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  margin-top: 15px;
  transition: background-color 0.2s ease-in-out;
  background-color: #7868e6;
  box-shadow: 4px 7px 12px 0 rgba(97, 93, 250, 0.2);
  border: 0;
}
.register .form-container .form-card .form .create-account-btn svg {
  height: 18px;
  margin-left: 4px;
}
.register .form-container .form-card .form .create-account-btn svg path {
  fill: #FFF;
}
.register .form-container .form-card .form .create-account-btn:hover {
  background-color: #7868e6;
}
.register .form-container .form-card .form .form-check {
  display: flex;
  margin: 10px 10px 20px 0;
}
.register .form-container .form-card .form .form-check input {
  background-color: #fff;
  border: 1px solid #dedeea;
  height: 17px;
  width: 16px;
  position: unset;
  margin: 3px 0 0 5px;
}
.register .form-container .form-card .form .form-check p {
  color: #000;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 22px;
  cursor: pointer;
  display: block;
  margin: 0;
}
.register .form-container .form-card .form .form-check p a {
  text-decoration: none;
  color: #7868e6;
}
.register .form-container .form-card .form p.text {
  margin-top: 30px;
  font-size: 0.875rem;
  line-height: 1.7142857143em;
  font-weight: 500;
  color: #3e3f5e;
}
.register .form-container .form-card .form p.text a {
  text-decoration: none;
  color: #7868e6;
  font-weight: 700;
}
.register .form-container .form-card .login-link a {
  color: #3e3f5e;
  font-weight: 700;
  display: flex;
  margin: auto;
  justify-content: center;
  margin-top: 20px;
}
.register .register-content {
  width: 475px;
}
@media (max-width: 1199.98px) {
  .register .register-content {
    width: 100%;
    padding-right: 20px;
  }
}
@media (max-width: 991.98px) {
  .register .register-content {
    text-align: center;
    margin: 50px auto;
    width: 90%;
  }
}
.register .register-content h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 10px;
  display: block;
  font-family: "Kufam";
}
@media (max-width: 767.98px) {
  .register .register-content h1 {
    font-size: 1.8rem;
  }
}
.register .register-content h1 a {
  text-decoration: none;
  color: #FFF;
}
.register .register-content p {
  font-size: 1.1rem;
  font-weight: 500;
  color: rgba(246, 248, 255, 0.6509803922);
}
@media (max-width: 767.98px) {
  .register .register-content p {
    font-size: 1rem;
  }
}
.register .register-content .register-links {
  margin-top: 30px;
}
.register .register-content .register-links a {
  text-decoration: none;
  text-decoration: none;
  background: #24c6dc;
  color: #FFF;
  padding: 6px 20px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 0.85rem;
  margin-left: 8px;
  border: 1px solid transparent;
}
.register .register-content .register-links .register-login {
  border: 1px solid #FFF;
  background: transparent;
  color: #FFF;
}

.teavher-review-v2 table {
  display: inline-table !important;
  width: 100%;
  background: #FFF;
  border-radius: 12px;
}
@media (max-width: 575.98px) {
  .teavher-review-v2 table {
    display: block !important;
  }
}
.teavher-review-v2 table tr {
  margin: 10px 0 !important;
}
.teavher-review-v2 table .student-name-img {
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: start;
}
.teavher-review-v2 table .student-name-img img {
  width: 40px;
  border-radius: 12px;
  margin-left: 10px;
}
.teavher-review-v2 table .student-name-img h3 {
  font-size: 0.9rem;
  font-weight: 700;
  margin: 0 0 -2px 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  color: #2c2f32;
}
.teavher-review-v2 table .student-name-img span {
  font-size: 0.75rem;
  font-weight: 700;
  color: #adafca;
}
.teavher-review-v2 table .custom-cell {
  min-width: 175px;
}
.teavher-review-v2 table .custom-cell span {
  background: #eff2f5;
  border-radius: 6px;
  padding: 3px 10px;
  font-weight: 700;
  font-size: 0.75rem;
}
.teavher-review-v2 table .date-cell {
  min-width: 175px;
  padding-right: 25px;
}
.teavher-review-v2 table .date-cell span {
  font-size: 0.8rem;
  font-weight: 700;
  color: #6e56e5;
}
.teavher-review-v2 table .reply-status {
  min-width: 175px;
  padding-right: 25px;
}
.teavher-review-v2 table .reply-status span, .teavher-review-v2 table .reply-status a {
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: 700;
}
.teavher-review-v2 table .reply-status .no-reply {
  color: #ee4266;
}
.teavher-review-v2 table .reply-status .yes-reply {
  text-decoration: none;
  width: 110px;
  color: #FFF;
  background-color: #6e56e5;
  display: inline-block;
  height: 35px;
  border-radius: 6px;
  font-size: 0.65rem;
  font-weight: 700;
  text-align: center;
  line-height: 35px;
  cursor: pointer;
  outline: none;
  box-shadow: unset;
  border: unset;
}
.teavher-review-v2 table .reply-status .no-pass {
  color: #ee4266;
  font-size: 1.1rem;
}
.teavher-review-v2 table .reply-status .passed {
  color: #2ae99e;
  font-size: 1.1rem;
}
.teavher-review-v2 .table td, .teavher-review-v2 .table th {
  vertical-align: middle;
}
.teavher-review-v2 .table thead th {
  vertical-align: middle;
  padding: 20px 24px;
  font-size: 0.8rem;
}
.teavher-review-v2 .table th {
  padding: 12px 20px;
  border-bottom: 1px dashed #eff2f5;
}
.teavher-review-v2 .table td {
  border-bottom: 1px dashed #eff2f5;
}

.chat-content {
  height: calc(100vh - 125px);
  width: 100%;
  background: #fcfcfd;
  margin-right: 0;
  transform: translate(0, 22px);
  position: relative;
  width: 100%;
}
@media (max-width: 575.98px) {
  .chat-content {
    height: calc(100vh - 100px);
    transform: translate(0, 2px);
  }
}
.chat-content .section-header {
  background: #FFF;
  text-align: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 45px;
  box-shadow: 3px 5px 40px 0 rgba(94, 92, 154, 0.0588235294);
  border-bottom: 1px solid #eaeaf5;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}
@media (max-width: 575.98px) {
  .chat-content .section-header {
    padding: 10px 15px 10px 10px;
  }
}
.chat-content .section-header .contact-user {
  display: flex;
  align-items: center;
}
.chat-content .section-header .contact-user a {
  display: block;
  text-decoration: none;
}
.chat-content .section-header .contact-user figure {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  margin-left: 15px;
  margin-bottom: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.chat-content .section-header .contact-user .section-header-info .section-title {
  color: #000;
  font-weight: 700;
  margin-bottom: 0;
  font-size: 0.9rem;
}
.chat-content .section-header .contact-user .section-header-info .section-title a {
  text-decoration: none;
  color: #000;
  display: block;
}
.chat-content .section-header .contact-user .section-header-info .section-pretitle {
  color: #aab2c9;
  font-size: 12px;
}
.chat-content .section-header .contact-user .section-header-info .user-online {
  border-radius: 9px;
  color: #FFF;
  background: #1df377;
  font-size: 9px;
  font-weight: 700;
  padding: 2px 7px;
  margin-top: 8px;
  display: inline-block;
  text-align: center;
}
.chat-content .section-header .back-link {
  color: #000;
  border-radius: 50px;
  padding: 4px 10px;
  text-decoration: none !important;
  display: block !important;
}
.chat-content .section-header .back-link:hover {
  background: #eaeaf5 !important;
}
.chat-content .section-header .back-link .back {
  display: block;
}
@media (max-width: 991.98px) {
  .chat-content .section-header .back-link .back {
    display: block;
  }
}
.chat-content .section-header .back-link .back span {
  font-size: 0.7rem;
  margin-left: 5px;
  display: inline-block;
  font-weight: 700;
}
.chat-content .section-header .back-link .back svg {
  height: 16px;
  width: 16px;
  fill: #3e3f5e;
  cursor: pointer;
  margin-top: 6px;
}
.chat-content .scrollbar-container {
  overflow: auto;
  position: relative;
  height: calc(100% - 145px);
  padding: 25px;
  background: #FFF;
}
.chat-content .scrollbar-container::-webkit-scrollbar {
  display: none;
}
.chat-content .chat-body {
  overflow: auto;
}
.chat-content .chat-body .sender-message {
  display: flex;
  justify-content: start;
}
.chat-content .chat-body .sender-message figure {
  height: 34px;
  width: 34px;
  border-radius: 50%;
  margin-left: 15px;
  margin-bottom: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-top: 3px;
}
.chat-content .chat-body .sender-message .message-items .message-item {
  border-top-right-radius: 0;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #6e56e5;
  color: #fff;
  margin-bottom: 5px;
  padding: 10px 12px;
  display: table;
  max-width: 330px;
  text-align: right;
}
.chat-content .chat-body .sender-message .message-items .message-item .message {
  font-size: 14px;
  font-weight: 500;
}
.chat-content .chat-body .sender-message .message-date {
  color: #9aa4bf;
  text-align: right;
  font-size: 14px;
  margin-bottom: 10px;
}
.chat-content .chat-body .receiver-message {
  display: flex;
  justify-content: start;
  direction: ltr;
}
.chat-content .chat-body .receiver-message figure {
  height: 34px;
  width: 34px;
  border-radius: 50%;
  margin-right: 15px;
  margin-bottom: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-top: 3px;
}
.chat-content .chat-body .receiver-message .message-items .message-item {
  border-top-right-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #f5f5fa;
  color: #000;
  margin-bottom: 5px;
  padding: 10px 12px;
  display: table;
  max-width: 330px;
  text-align: left;
}
.chat-content .chat-body .receiver-message .message-items .message-item .message {
  font-size: 14px;
  font-weight: 500;
}
.chat-content .chat-body .receiver-message .message-date {
  color: #9aa4bf;
  text-align: left;
  font-size: 14px;
  margin-bottom: 10px;
}

.chat-footer {
  width: 100%;
  background: #FFF;
  text-align: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 15px;
  box-shadow: 3px 5px 40px 0 rgba(94, 92, 154, 0.0588235294);
  border-top: 1px solid #eaeaf5;
  height: 75px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}
@media (max-width: 991.98px) {
  .chat-footer {
    padding: 19px 10px;
  }
}
.chat-footer form {
  position: relative;
  display: contents;
}
.chat-footer form .form-group {
  width: 100%;
  position: relative;
  margin: 0;
}
.chat-footer form .form-group label {
  color: #adafca;
  font-size: 0.85rem;
  font-weight: 600;
  position: absolute;
  top: 19px;
  right: 20px;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  display: block;
  margin: 0;
  line-height: 1em;
}
.chat-footer form .form-group .form-control {
  height: 45px;
  padding: 0 18px;
  background-color: #fff;
  border: 1px solid #dedeea;
  color: #3e3f5e;
  transition: border-color 0.2s ease-in-out;
  width: 100%;
  border-radius: 12px;
  font-size: 0.9rem;
  font-weight: 700;
  overflow: hidden;
  resize: none;
}
.chat-footer form .form-group .form-control:focus {
  border-color: #6e56e5;
  box-shadow: none;
  outline: none;
}
.chat-footer form .form-group select {
  cursor: pointer;
}
.chat-footer form button {
  text-decoration: none;
  width: 75px;
  margin: auto;
  color: #FFF;
  display: inline-block;
  height: 40px;
  border-radius: 12px;
  font-size: 0.75rem;
  font-weight: 700;
  text-align: center;
  line-height: 38px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  background-color: #6e56e5;
  border: 0;
  margin: 0 10px 0 0;
}
.chat-footer form button svg {
  height: 18px;
  text-align: center;
  margin: auto;
}
.chat-footer form button svg path {
  fill: #FFF;
}
.chat-footer form button:hover {
  background-color: #3e3f5e;
}
.chat-footer form .active-input label {
  background: #FFF;
  padding: 0 6px;
  font-size: 0.7rem;
  top: -6px;
  right: 12px;
}

.col-xl-3,
.col-lg-3,
.col-md-4,
.col-sm-6 {
  padding: 0 8px;
}

.section-header {
  padding: 25px 0 15px 0;
}
.section-header h3 {
  font-size: 1.3rem;
  font-weight: 700;
  color: #2c2f32;
}/*# sourceMappingURL=main.css.map */