// Light Theme
$mainColor: #436cff;
$bodyBg: #f8f8fb;
$navbarBg: #615dfa;
$navbarColor: #FFF;
$iconActive: #3e3f5e;
$iconIdle: #8b88ff;
$p: #3e3f5e;
$subP: #adafca;
$link: #6c5dd3;
$aLight: #FFF;
$subLight: #fcfcfd;
$shadow: #5e5c9a0f;
$border: #eaeaf5;
$borderInput: #dedeea;
$stillDark: #161b28;
$stillDark2: #1d2333;
$light28: #FFF;
$bglight28: #f8f8fb;
$secLight: #f1f4f6;

// Drak Theme
$bodyBgDark: #161b28;
$navbarColorDark: #1d2333;
$iconActiveDark: #FFF;
$pDark: #FFF;
$subPDark: #9aa4bf;
$shadowDark: #0000000f;
$borderDark: #2f3749;
$subDark: #21283b;
$borderInputDark: #3f485f;
$dark28: #161b28;
$bgdark28: #1d2333;
$secDark: #1d2333;

// Responsive 
$min-5: 576px;
$min-7: 768px;
$min-9: 992px;
$min-12: 1200px;
$max-5: 575.98px;
$max-7: 767.98px; 
$max-9: 991.98px; 
$max-12: 1199.98px; 




